.app_container {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}
.list {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

@media screen and (max-width: 1268px) {
  .app_container {
    flex-direction: column;
    justify-content: top;
    padding-top: 0;
    width: 100%;
  }
  .list {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 15px;
  }
}
