@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
:root {
  --orange: #fc4747;
  --dark-blue: #10141e;
  --light-blue: #5a698f;
  --small-dark-blue: #161d2f;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-blue);
  margin: 0;
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
